
#section1{
    background-color:rgb(245,240,230) 
   
}
div { display: inline !important}
#section2{
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
}

#navbar {
    position:sticky;
    top:0;
    overflow: hidden;
    background-color: #182b49;
    
}
#navbar a:hover{
    font-display: white;

}