div{
    display: inline-block;
}
div.section1{
    background-color:rgb(245,240,230);
    scroll-margin-top: 69;
}

div.section2{
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    scroll-margin-top: 69;

}

#navbar {
    position:sticky;
    top:0;
    overflow: hidden;
    background-color: #182b49;
    max-width: 400px;
    font-size: 28px;
}
#navbar:hover ul{
    color: white;

}

div.section3{
    background-color: rgb(245,240,230) ;
    font-size: 28px;
    scroll-margin-top: 69;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:25px;
    grid-auto-rows: minmax(100px,auto);
}

div.section3.grid{
    grid-column: 1;
    grid-row: 2 / 5;
}