div.section1{
    background-color:rgb(245,240,230);
}

div.section2{
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    background-size: cover;
}

#navbar {
    position:sticky;
    top:0;
    overflow: hidden;
    background-color: white;
    max-width: 400px;
    z-index: 1000;
    padding: 10px 0;
}
#navbar ul{
    color: white;
    list-style: none;
}

#navbar ul li{
    margin-right: 10px;
    display: inline-block;
}

#navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 28px;
}

#navbar ul li a:hover{
    background-color: #182b49;
    color: #ffcc00;
}

div.sections {
    display: inline-block;
    width: 100%;
    padding: 50px;
    scroll-margin-top: 69%;
    font-size: 28px;
}

div.section3{
    background-color: rgb(245,240,230) ;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1000px;
    padding-top: 25px;
}

.grid-item {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

